/* --初始化------------------------------ */
:root {
    --pageSpacing: 20px;
    --boxshadow: 10px 10px 10px rgb(0 0 0 / 30%);
    --background: #414141;
    --card-background: #353535;
    --fontColour: #fff;
}
* {
    padding: 0; margin: 0; font-family: "\5FAE\8F6F\96C5\9ED1","黑体","宋体"; font-size: 14px; color: var(--fontColour);
}
a {text-decoration: none;}
ul,ol {list-style: none;}
img {border: none;}
input,textarea {outline: none;}
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
html{
    height: calc(100% - 95px);
    margin: 0;
    padding: 0;
}
/* --顶快捷栏------------------------------ */
.navbar a:link{ color: #fff; }
.navbar a:visited{ color: #fff; }
.navbar a:hover{ color: #fff; text-shadow: 0 0 10px #fff;}
.navbar a:active{ color: #fff; }
.hd-nav ul li a:hover{ color: #fff; text-shadow: 0 0 10px #fff;}
.navbar{
    height: 55px; 
    width: 100%; 
    background: var(--card-background);
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
    backdrop-filter: blur(9px);
}
.hd-title{
    font-size: 18px;
    font-weight: 800;
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    line-height: 55px;
    transition: 0.2s;
}
.hd-con{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hd-nav ul{display: flex; height: 55px;}
.hd-nav li a{
    display: block;
    font-size: 15.5px;
    font-weight: 600;
    padding: 0 30px 0 0;
    transition: 0.2s;
    position: relative;
    line-height: 55px;
}
.hd-nav li:hover a{color: #3498db;}
.hd-title:hover{color: #3498db;}
/* --页脚------------------------------ */

.footer{
    height: 100px; 
    width: 100%; 
    background: #353535; 
    margin-top: -15px; 
    line-height: 100px; 
    position:absolute;
}
@media(max-width: 600px){
    .footer{
        bottom: none;
        left: none;
    }
}
.footer div{
    margin-right: 10%;
}
.footer p{
    color: #fff;
    text-align: right;
}

/* 文章列表翻页条 */
.list-nav{
    content: '';
    margin: 10px 0 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.list-nav ol{
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: center;
    color: #5f5f5f;
}
.list-nav ol li{
    display: inline-block;
    padding: 15px;
}
/* 文章列表翻页条 */
